:root {
    --primary-color: #253a5c;
    --secondary-color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--primary-color);
}

nav {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
    z-index: 9999;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

article {
    padding: 20px;
}

footer {
    background-color: var(--primary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.vert-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

.subprofile {
    display: flex;
    flex-direction: column;
}

.training-item {
    border: 1px solid #FFFFFF;
    margin: 15px;
    padding: 15px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.testimonial > p {
    font-size: 18px;
    font-style: italic;
}

.testimonial > img {
    border-radius: 50%;
}

.image-odd {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
}

.image-even {
    width: 100%;
    height: 100%;
    grid-column: 2/2;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.in-view {
    animation: slidein 1.5s ease;
}

#about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 101vh;
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 45px;
    }
    
#profile-image {
    border-radius: 50%;
    width: 250px;
}

#aboutMe {
    margin: 20px;
    width: 50%;
}

#training {
    color: #FFFFFF;
    background-color: var(--primary-color);
}

#training > p, h2, h3 {
    width: 50%;
}

#image-table {
    display: grid;
    grid-template-columns: repeat(1, 1);
    background-color: #FFFFFF;
    opacity: 0.5;
}

#testimonials > img, h2, h3, p {
    text-align: center;
}