:root {
    --primary-color: #253a5c;
    --secondary-color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--primary-color);
}

nav {
    height: 80px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

nav > span {
    margin: 15px;
}

nav > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    display: none;
}

#nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-menu > a {
    text-decoration: none;
    color: var(--primary-color);
}

article {
    padding: 20px;
}

footer {
    margin-top: 50px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
    width: 50px;
    height: 50px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

.subprofile {
    display: flex;
    flex-direction: column;
}

.training-options {
    display: flex;
    flex-direction: row;
}

.training-item {
    border: 1px solid #FFFFFF;
    margin: 15px;
    padding: 15px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.testimonial > p {
    font-size: 18px;
    font-style: italic;
}

.testimonial > img {
    border-radius: 50%;
}

.image-odd {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
}

.image-even {
    width: 100%;
    height: 100%;
    grid-column: 2/2;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.in-view {
    animation: slidein 1.5s ease;
}

.slide-in {
animation: slideIn 1s ease-out forwards;
}

#about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 101vh;
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 45px;
}
    
#profile-image {
    border-radius: 50%;
    width: 250px;
}

#aboutMe {
    margin: 20px;
    width: 50%;
}

#training {
    color: #FFFFFF;
    background-color: var(--primary-color);
    display: flex;
}

#training > p, h2, h3 {
    width: 50%;
}

#image-table {
    display: grid;
    grid-template-columns: repeat(1, 1);
}

#testimonials > img, h2, h3, p {
    text-align: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 800px;
    margin: auto;
    background-color: lightgrey;
    border-radius: 5px;
}

#form-content {
    justify-content: space-between;
    margin-bottom: 15px;
}

#form-submit {
    background-color: var(--secondary-color);
    color: #FFFFFF;
    margin-top: 15px;
    width: 50px;
    filter: drop-shadow(grey 2px 2px 2px)
}

@media (max-width: 680px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav > a {
        margin: 15px;
    }
    
    @keyframes menuSlideIn {
        0% {
            scale: 0;
        }
        100% {
            scale: 1;
        }
    }

    @keyframes menuSlideOut {
        0% {
            scale: 1;
        }
        100% {
            scale: 0;
        }
    }

    .menu-slide-in {
        animation: menuSlideIn 0.5s ease;
        animation-fill-mode: forwards;
    }
    
    .menu-slide-out {
        animation: menuSlideOut 0.5s ease;
        animation-fill-mode: forwards;
    }

    #nav-menu {
        scale: 0;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--primary-color);
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0px;
        right: 0px;
        transform-origin: top right;
    }

    #nav-menu > a {
        color: #FFFFFF;
    }

    nav > img {
        display: block;
        z-index: 2;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    .training-options {
        flex-direction: column;
    }

    #profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #aboutMe {
        width: 100%;
    }

    #training > p, h2, h3 {
        width: 100%;
    }

    #form-container {
        width: 300px;
    }
    
    #form-content {
        flex-direction: column;
    }
}